*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #443C3C;
  margin: 0;
  padding: 0;
  color: #fff;
  font: 300 16px/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.heading {
  font-family: 'Open Sans Condensed', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  margin-top: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover, a:focus {
  border-bottom: 1px dotted;
}

p {
  margin-top: 0;
}

.container {
  max-width: 60em;
  margin: 0 auto;
}

.hero-unit {
  background-color: #d74343;
  background: linear-gradient(to top left, #C43333 0%, #C43333 50%, #d74343 50%, #d74343 100%);
  padding: 40px 20px;
}

.hero-unit .lead {
  margin-bottom: 0;
}

.main {
  padding: 100px 0;
}

.row {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.panel {
  position: relative;
  display: block;
  width: 90%;
  margin: 0 auto 1em;
  padding: 1em;
  background-color: #d3d3d3;
  text-align: right;
  vertical-align: top;
}

.panel h2 {
  font-size: 1.25em;
  margin-top: 25px;
}

.bg-1 { background-color: #d74343; }
.bg-2 { background-color: #EC8F40; }
.bg-3 { background-color: #95C23F; }
.bg-4 { background-color: #4FBDC7; }
.bg-5 { background-color: #B38DD5; }
.bg-6 { background-color: #5C5C5C; }

.section-overview .banner {
  background: linear-gradient(to right, #C43333 75%, #d74343 75%);
}

.section-scope .banner {
  background: linear-gradient(to right, #EC8F40 75%, #E9A061 75%);
}

.section-core .banner {
  background: linear-gradient(to right, #95C23F 75%, #ADD364 75%);
}

.section-inheritance .banner {
  background: linear-gradient(to right, #4FBDC7 75%, #65CAD3 75%);
}

.section-closures .banner {
  background: linear-gradient(to right, #B38DD5 75%, #C298E7 75%);
}

.section-dom .banner {
  background: linear-gradient(to right, #5C5C5C 75%, #696969 75%);
}

.banner {
  padding: 80px 0;
}

.banner .heading {
  margin-bottom: 0;
}

.article {
  background: #F0F0F0;
  margin: 80px auto;
  padding: 30px 60px;
  color: #333;
}

.article .title {
  margin-bottom: 0;
  padding-bottom: 0;
}

.article .title + p {
  margin-bottom: 0.5em;
}

.article .site-link {
  color: #397DB9;
  text-transform: uppercase;
}

.scroll-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 75px;
  height: 75px;
  background: transparent url(../img/icon-scroll-top.png) no-repeat 0 0;
  border-bottom: 0;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 999;
  animation: fadeIn 1s;
}

.scroll-top:hover, .scroll-top:focus {
  text-decoration: none;
  border-bottom: 0;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (min-width: 50em) {

  .hero-unit {
    padding: 200px 0;
  }

  .hero-unit h1 {
    font-size: 3.5em;
  }

  .hero-unit .lead {
    font-size: 1.25em;
  }

  .panel {
    display: inline-block;
    width: 32%;
    margin: 0.25em 0.25em 0.5em;
  }

  .panel h2 {
    margin-top: 70px;
  }

  .banner .heading {
    font-size: 3em;
  }

}